<h1>
	Login page
</h1>

<form action="/register" method="POST">
	<input type="text" name="username">
	<input type="password" name="password">
	<button type="submit">
		submit
	</button>
</form>
<a href="/login">Login LINK</a>